---
layout: "layouts/main.html"
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
title: Articles tagged "{{ tag }}"
---

<main class='entrypoint'>
    <h1>Articles tagged “{{ tag }}”</h1>
    {% assign posts = collections[ tag ] | reverse %}
    {% render "post-list.html", posts: posts %}
    {% include "layouts/site-tags.html" %}
</main>
