/* 
** Main content, articles etc.
*/

article p {
    margin: 0;
}

article p+p {
    text-indent: 1em;
}


article div.header {
    margin: 0 -40px;
    margin-bottom: 0.5em;
}

article .header .date {
    font-family: "Exo 2", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    line-height: 0.9;
    color: var(--primary-mid-dark);
    text-transform: uppercase;
}

article .header .tags {
    font-size: 0.8em;
    text-align: left;
}

article .tags a {
    background-color: var(--tone-dark);
    color: white;
    margin: 2px;
    display: inline-block;
    padding: 1px 5px;
}


main h1 {
    font-family: 'Exo 2', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    font-weight: thin;
    line-height: 1;
    margin: 0;
    background-color: var(--primary);
    background-image: url("/images/article-header-background.png");
    padding: 0.75em 0 0.1em 40px;
    color: white;
    text-shadow: 2px 2px 0 var(--primary-mid-dark);
}

article h2 {
    font-family: 'Exo 2', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    line-height: 1;
    text-align: center;
    padding: 0.25em;
    margin: 1em 0 0 0;
    background-color: var(--tone-extra-light);
}

article h2::before {
    content: "❯❯ ";
    color: var(--primary);
}

article h2::after {
    content: " ❮❮";
    color: var(--primary);
}

article h3 {
    margin: 2em 0 0 0;
}

hr {
    border: 1px dotted var(--tone-mid);
}

pre, 
code {
    background-color: var(--tone-dark-mid);
    color: white;
    padding: 0.1em 0.5em;
}

code {
    font-size: 0.8em;
    border-radius: 3px;
}

pre {
    overflow: scroll;
    border-radius: 5px;
    border: 5px solid var(--tone-dark-mid);
}

p.intro {
    font-size: 1.5em;
    font-style: italic
}