header {
    display: grid;
    grid-template-areas: 
        "title title"
        "bio bio"
        "nav socials";
}

header nav {
    grid-area: nav;
}

header .bio {
    grid-area: bio;
}

header .socials {
    grid-area: socials;
}

header .title {
    grid-area: title;
}

footer {
    display: grid;
    grid-template-areas: 
        "nav socials"
        "copyright tags";
}

footer .copyright {
    grid-area: copyright;
}

footer nav {
    grid-area: nav;
}

footer .contacts {
    grid-area: socials;
}

footer .tags {
    grid-area: tags;
}

article {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

article h1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

article .date {
    grid-column: 1;
    grid-row: 2;
}

article .article-tags {
    grid-column: 2;
    grid-row: 2;
}

article .summary {
    grid-column: 1 / 3;
    grid-row: 3;
}

article .content {
    grid-column: 1 / 3;
}

article .site-tags {
    grid-column: 1 / 3;
}