/* 
** Responsive layout
*/
/* Mobile */
@import "layout-mobile.css" screen and (orientation: portrait);
@import "site-mobile.css" screen and (orientation: portrait);

/* Desktop */
@import "layout-desktop.css" screen and (orientation: landscape);
@import "site-desktop.css" screen and (orientation: landscape);

/* All */
@import "site.css";
@import "article.css";
@import "colours.css";
@import "typography.css";

/* Fonts */
@font-face {
    font-family: 'Bungee Outline';
    src: url(/fonts/BungeeOutline-Regular.ttf);
} 

@font-face {
    font-family: 'Exo 2';
    src: url(/fonts/Exo2-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
}

