---
site_title: Loop Loop Break
site_sections:
    - Posts
    - Demos
    - About
    - Contact
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{site_title}}: {{ title }}
        </title>
        <link rel="stylesheet" type="text/css" href="{{ '/style/main.css' | url }}">
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    </head>
    <body>
        {% include "layouts/header.html" %}
        {% include "layouts/navigation.html" %}
        {% include "layouts/bio.html" %}
        {% include "layouts/socials.html" %}
        <main>
            {{ content }}
        </main>
        {% include "layouts/site-tags.html" %}
        {% include "layouts/footer.html" %}
    </body>
</html>