---
site_title: Loop Loop Break
site_sections:
    - [Articles, posts]
    - [Portfolio, demos]
    - [About, about]
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{site_title}}: {{ title }}
        </title>
        <link rel="stylesheet" type="text/css" href="{{ '/style/main.css' | url }}">
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    </head>
    <body>
        <header>
            {% include "layouts/header.html" %}
            {% include "layouts/navigation.html" %}
            {% include "layouts/bio.html" %}
            {% include "layouts/socials.html" %}
        </header>
        {{ content }}
        <footer>
            {% include "layouts/footer.html" %}
        </footer>
    </body>
</html>