---
layout: "layouts/main.html"
---
<main class="article">
    <article>
        <h1>
            {{ title }}
        </h1>
        <div class="date">
            {{ date | date: "%d %b %Y" }}
        </div>
        <p class="summary">
            {{ summary }}
        </p>
        <ul class='article-tags'>
        {%- for tag in tags -%}
            {%- if tag != "post" -%}
            <li>
                <a class="tag" href="/tags/{{tag}}">{{tag}}</a>
            </li>
            {%- endif -%}
        {%- endfor -%}
        </ul>
        <div class="content">
            {{ content }}
        </div>
        {% include "layouts/site-tags.html" %}
    </article>
</main>